/* Estilo base da página */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #c1dba5;
}

/* Container principal para alinhar painéis lado a lado */
.container {
    display: flex;
    height: 107vh;
    margin: 0;
    padding: 0;
    background-color: #c1dba5;
}

/* Painel esquerdo com informações e logo */
.left-panel {
    background-color: #c23956;
    color: white;
    padding: 60px 40px;
    width: 70%;
    display: flex;
    flex-direction: column;
   justify-content: center; /* opcional, centraliza também verticalmente */
    text-align: center; /* garante alinhamento do texto */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 107vh;
    box-sizing: border-box;

    
}

/* Estilo de textos e logo dentro do painel esquerdo */
.left-panel span {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
}

.left-panel .logo img {
    width: 380px;
    margin-bottom: 20px;
}

.left-panel p {
    font-size: 20px;
    line-height: 1.5;
}

/* Formulário principal */
.form-wrapper {
    width: 900px;
    /* min-height: 680px; */
    background-color: #ecf7dc;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    margin-left: 200px;
    margin-top: 63px;
    margin-bottom: 123px;
}

/* Título do formulário */
.form-wrapper h3 {
    color: #c23956;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 3px;
    /* margin-top: 80px; */
    text-align: center;
}

/* Rótulos dos campos do formulário */
.form-label {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 1px;
}

/* Campos de entrada e select */
.form-control,
.form-select {
    border: none;
    border-bottom: 2px solid #222226;
    background-color: transparent;
    padding: 2px;
    width: 100%;
    font-size: 16px;
   margin-top: 1px;
    margin-bottom: 1px;
    
}

/* Select com estilo customizado */
.form-select {
    appearance: none;
    background-color: #f1e9f6;
    border: none;
    height: 30px;
}

/* Botão principal */
.btn-success {
    background-color: #7aac45;
    border: none;
    color: white;
    padding: 10px 50px;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.3s;
    /* margin-top: 40px; */
}


/* Botão secundário */
.btn-secondary {
    /* margin-top: 50px; */
    background-color: #c74460;
    border: none;
    color: white;
    padding: 10px 40px;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer; 
}


.btn-secondary:hover {
    background-color: #a32e47; 
    transform: scale(1.05);   
}


/* Centraliza conteúdo */
.text-center {
    text-align: center;
}

.form_error_message {
    color: #cf3b4aff;
    font-style: italic;
}