body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fdf6f8;
}

.container {
    display: flex;
    border-radius: 12px;
    margin: 20px auto;
    max-width: 900px;
    overflow: hidden;
}

.banner {
    flex: 1;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c23956;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.banner img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.formulario {
    flex: 1;
    background: #fad7d7;
    padding: 40px;
    position: relative;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.titulo-form {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #c23956;
    margin-bottom: 25px;
}

.btn-voltar {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #f17070;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.btn-voltar:hover {
    background: #a74e4e;
}

.formulario .form-control,
.formulario .form-select {
    border: 1px solid #fa9595;
    border-radius: 6px;
    padding: 10px 12px;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205%;
    max-width: none;
}

.formulario label {
    font-weight: 500;
    margin-bottom: 6px;
    display: block;
    color: #444;
    width: 205%;
}

.btn-success {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background: #afc38b;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.btn-success:hover {
    background: #7b8d5b;
}
