body {
    background-color: #eafdc5;
    font-family: Arial, sans-serif;
}

h3.text-center {
    color: #a63a53;
    font-weight: bold;
    margin-bottom: 20px;
}

.container {
    margin-left: 800px;
    margin-top: 150px;
}

#frmCurso {
    background-color: #e8f0db;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 300px;
}

#frmCurso label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #222;
    text-transform: uppercase;
    font-size: 14px;
}

/* Input */
#frmCurso input[type="text"] {
    border: none;
    border-bottom: 1px solid #5a6945;
    background: transparent;
    width: 100%;
    padding: 5px;
    outline: none;
    font-size: 14px;
    text-align: center;
}

#frmCurso a.btn-secondary {
    background-color: #92aa71;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 30px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 20px;
    transition: 0.3s;
}

#frmCurso button[type="submit"] {
    background-color: #a63a53;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.illustration-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration {
    position: fixed;
    left: 250px;
    top: 200px;
    width: 380px;
    object-fit: cover;
}

.form_error_message {
    color: #cf3b4aff;
    font-style: italic;
    font-family: 'Playfair Display', serif;
}

/* ============ RESPONSIVIDADE ============ */

@media (max-width: 1200px) {
    .container {
        margin-left: 600px;
        margin-top: 120px;
    }

    .illustration {
        left: 120px;
        top: 180px;
        width: 320px;
    }
}

@media (max-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px;
        text-align: center;
    }

    .illustration {
        position: static;
        width: 300px;
        display: block;
        margin: 0 auto 20px;
    }
}

@media (max-width: 600px) {


    h3.text-center {
        font-size: 26px;
        margin-top: 20px;
    }

    .container {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .illustration {
        position: static;
        width: 80%;
        max-width: 280px;
        margin: 0 auto 20px;
    }

    #frmCurso {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        padding: 25px 20px;
    }

    #frmCurso button[type="submit"],
    #frmCurso a.btn-secondary {
        display: block;
        width: 100%;
        margin: 10px 0 0 0;
    }

    #frmCurso button[type="submit"],
    #frmCurso a.btn-secondary {
        display: inline-block;
        width: auto;
        margin: 10px 5px 0 5px;
    }
}