body {
    background-color: #eafdc5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    color: #c23956;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 40px;
}

.cards-container {
    max-width: 1100px;
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card {
    background-color: #c23956;
    border-radius: 10px;
    padding: 90px 44px 120px 20px;
    width: 300px;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h3 {
    font-weight: 700;
    margin-bottom: 6px;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 5px;
    font-size: 20px;
}

.card p {
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 20px;
    opacity: 0.9;
}

.icon {
    width: 175px;
    height: 165px;
    margin: 0 auto 10px;
    display: block;
    margin: 0 auto 30px;
}


.btn-visualizar {
    width: 110px;
    padding: 8px 14px;
    background-color: #f5f5f5;
    color: #798660;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.btn-visualizar:hover {
    background-color: #e4d6d7;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.msg-sucesso,
.msg-erro {
  padding: 12px 15px;
  margin: 20px auto;
  border-radius: 8px;
  max-width: 700px;
  text-align: center;
  font-weight: 500;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 0.8s forwards;
}

.msg-sucesso {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.msg-erro {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/* ======== RESPONSIVIDADE ======== */
@media (max-width: 992px) {
    h2 {
        font-size: 34px;
    }

    .cards-container {
        gap: 30px;
        justify-content: center;
    }

    .card {
        width: 280px;
        padding: 70px 30px 90px 20px;
    }

    .icon {
        width: 150px;
        height: 140px;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .card {
        width: 85%;
        padding: 60px 25px 80px 25px;
    }

    .icon {
        width: 140px;
        height: 130px;
    }

    .btn-visualizar {
        width: auto;
        padding: 8px 25px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 26px;
    }

    .card {
        width: 78%;
        padding: 50px 20px 70px 20px;
    }

    .icon {
        width: 120px;
        height: 110px;
    }

    .btn-visualizar {
        font-size: 13px;
        padding: 7px 20px;
    }
}
