body {
    background-color: #d4f4c1;
    /* verde claro */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo {
    text-align: center;
    color: #d6425c;
    /* vermelho */
    font-size: 38px;
    font-weight: bold;
    margin-top: 30px;
}

.container-botoes {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 130px;
}

.botao-opcao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #d6425c;
    font-weight: bold;
}

.botao-quadrado {
    width: 200px;
    height: 200px;
    background-color: #d6425c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: transform 0.2s ease;
}

.botao-quadrado:hover {
    transform: scale(1.05);
}

.botao-quadrado img {
    width: 150px;
    height: 100px;
}

.texto-botao {
    margin-bottom: 8px;
    font-size: 20px;
}



.msg-erro {
  padding: 12px 15px;
  margin: 20px auto;
  border-radius: 8px;
  max-width: 700px;
  text-align: center;
  font-weight: 500;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 0.8s forwards;
}



/* Erro */
.msg-erro {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
