body {
    background-color: #c1dba5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    color: #f5f5f5;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 40px;
}

.cards-container {
    max-width: 1100px;
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card {
    background-color: #c23956;
    border-radius: 10px;
    padding: 90px 44px 120px 20px;
    width: 300px;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h3 {
    font-weight: 700;
    margin-bottom: 6px;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 5px;
    font-size: 20px;
}

.card p {
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 20px;
    opacity: 0.9;
}

.icon {
    width: 175px;
    height: 165px;
    margin: 0 auto 10px;
    display: block;
    margin: 0 auto 30px;
}


.btn-visualizar {
    width: 110px;
    padding: 8px 14px;
    background-color: #f5f5f5;
    color: #798660;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;


}

.btn-visualizar:hover {
    background-color: #e4d6d7;

}