body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #afc38b;
}

.container-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}

.welcome {
    font-size: 5em;
    color: #c63d5d;
    font-weight: bold;
}

.form-box {
    background-color: #e8f0d9;
    padding: 30px;
    border-radius: 12px;
    width: 300px;
}

.form-box label {
    font-weight: bold;
}

.form-box input {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #999;
    background: transparent;
    padding: 5px;
}

.login-btn {
    background-color: #c63d5d;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #a7324a;
}

.cadastro {
    margin-top: 20px;
    color: #c63d5d;
    text-align: center;
}

.cadastro a {
    color: #c63d5d;
    text-decoration: none;
    font-weight: bold;
}

.illustration {
    max-width: 600px;
}
.form_error_message {
    color: #cf3b4aff;
    font-style: italic;
}