*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    .navbar {
        height: 70px;
        /* altura fixa da navbar */
    }

    .navbar-brand img {
        max-height: 180px;
        /* a imagem não passa da altura da navbar */
        max-width: 180px;
        /* mas não fica maior que 200px largura */
        width: auto;
        /* largura automática para manter proporção */
        height: auto;
        /* altura automática para manter proporção */
    }

    .navbar-nav .foto-perfil {
        max-width: 120%;
    }


    .foto-perfil-wrapper {
        width: 30px;
        height: 30px;

        border-radius: 50%;

        text-align: center;
        overflow: hidden;

    }

    .usuario-topo {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .foto-perfil-wrapper {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;
    }

    .foto-perfil-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }