*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    .navbar {
        height: 70px;
        /* altura fixa da navbar */
    }

    .navbar-brand img {
        max-height: 180px;
        /* a imagem não passa da altura da navbar */
        max-width: 180px;
        /* mas não fica maior que 200px largura */
        width: auto;
        /* largura automática para manter proporção */
        height: auto;
        /* altura automática para manter proporção */
    }

    .navbar-nav .foto-perfil {
        max-width: 120%;
    }


    .usuario-topo {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .foto-perfil-wrapper {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;
    }

    .foto-perfil-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* animação de entrada suave */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.notificacao-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notificacao-link {
    position: relative;
    color: #f8c10f;
    font-size: 1.6rem;
    text-decoration: none;
    transition: 0.3s ease;
}

.notificacao-link:hover {
    color: #ffd966;
    transform: scale(1.1);
}

.notificacao-link i {
    vertical-align: middle;
}

/* Bolinha vermelha (badge) */
.notificacao-badge {
    position: absolute;
    top: -6px;
    right: -8px;
    background-color: #ff0019;
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
