body {
    background-color: #eafdc5;
    font-family: Arial, sans-serif;
}

.inscricao-container {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    min-height: 500px;
    width: 80%;
    margin: 20px auto;
}

.inscricao-info {
    background: #d5ecab;
    padding: 45px;
    flex: 2;
}

.inscricao-info h2 {
    text-align: center;
    color: #c33a52;
    font-weight: bold;
    margin-bottom: 20px;
}

.inscricao-info p {
    margin: 15px 0;
    border-bottom: 1px solid #666;
    padding-bottom: 5px;
    font-size: 15px;
    color: #333;
}

.btn-inscrever {
    display: block;
    margin: 20px auto 0;
    background: #c33a52;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn-inscrever:hover {
    background: #a52d42;
}

.inscricao-figura {
    background: #fbdede;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.inscricao-figura img {
    max-width: 70%;
}

.btn-voltar {
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    color: #c33a52;
    border: none;
    padding: 8px 25px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-voltar:hover {
    background: #faf1f1;
}

.aviso-externo {
    background-color: #e7f3ff;
    border: 1px solid #b3d7ff;
    color: #004085;
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 15px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
}

.aviso-externo i {
    font-size: 22px;
    color: #007bff;
    flex-shrink: 0;
}

.aviso-externo span {
    line-height: 1.4;
}

.link-doc {
    color: #7b9e3a;
    text-decoration: none;
    font-weight: 500;

}

.link-doc i {
    margin-right: 1px;
}

.link-doc:hover {
    color: #73ac0a;
    text-decoration: underline;
}

@media (max-width: 850px) {

    .inscricao-container {
        flex-direction: column;
        width: 95%;
        margin: 10px auto;
    }

    .inscricao-info {
        padding: 30px;
    }

    .inscricao-figura {
        padding: 30px 10px;
    }

    .inscricao-figura img {
        max-width: 90%;
    }

    .btn-voltar {
        position: static;
        margin: 10px auto 20px;
        display: block;
        width: 160px;
        text-align: center;
        padding: 8px 20px;
    }

    .btn-inscrever {
        width: 60%;
        max-width: 250px;
        padding: 12px;
        margin-top: 25px;
    }
}