/* Estilo geral do body */
body {
    background-color: #d4f4c1;
    font-family: Arial, sans-serif;
}

/* Títulos */
h3 {
  text-align: center;
    color: #d6425c;
    font-size: 38px;
    font-weight: bold;
    margin-top: 30px;
}

/* Botões da página principal */
.btn-success, .btn-secondary {
    border-radius: 12px;
    padding: 7px 17px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-success {
    background-color: #a4c466;
    color: white;
}

.btn-success:hover {
    background-color: #8f9e38;
}

.btn-secondary {
    background-color: #a4c466;
    color: white;
}

.btn-secondary:hover {
    background-color: #8f9e38;
}

/* Container dos cards */
.container.table-container {
    max-width: 1200px;
    margin: auto;
}

/* Layout dos cards */
.user-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}

/* Estilo dos cards de usuário */
.user-card {
    background-color: #c63f57;
    color: white;
    border-radius: 25px;
    padding: 20px 30px;
    width: 350px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;           
    flex-direction: column;  
    justify-content: space-between; 
}

/* Texto dentro do card */
.user-card p {
    margin: 5px 0;
    font-weight: bold;
}

/* Botões dentro do card */
.user-card .btn {
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 15px;
    font-size: 0.9em;
    border: none;
    transition: background-color 0.3s ease;
    align-self: flex-start;   
}
.user-card .btn-primary {
    background-color: #227bc5; 
    color: white;
}

.user-card .btn-primary:hover {
    background-color: #0c4f86;
}

.user-card .btn-danger {
    background-color: #e42525; 
    color: white;
}

.user-card .btn-danger:hover {
    background-color: #bd2130;
}
