/* ======= ESTILO GERAL ======= */
body {
    background-color: #f0fce2; /* fundo claro puxando pro verde */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ======= TÍTULO ======= */
h3 {
    font-weight: 700;
    color: #c23956;
    margin: 30px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 3px solid #c1dba5;
    display: inline-block;
    padding-bottom: 5px;
}

/* ======= CABEÇALHO DA TABELA ======= */
table th {
    background: linear-gradient(135deg, #c1dba5, #aed881);
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    padding: 12px;
    border: none;
}
/* ======= CORPO DA TABELA ======= */
table td {
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    padding: 12px;
    
}


/* Cabeçalho da tabela (mantendo seu degradê) */
table th {
    background: linear-gradient(135deg, #c1dba5, #aed881);
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    padding: 12px;
    border: none;
}
