/* ======= ESTILO GERAL ======= */
body {
    background-color: #faf1f4;
    /* fundo bem claro puxando pro verde */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ======= TÍTULO ======= */
h3 {
    font-weight: 700;
    color: #c23956;
    margin: 30px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 3px solid #c1dba5;
    display: inline-block;
    padding-bottom: 5px;
}

/* ======= CONTAINER DA TABELA ======= */
.table-container {
    background: #ffffff;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
    margin-top: 25px;
    border: 2px solid #c1dba5;
}

/* ======= CABEÇALHO DA TABELA ======= */
table th {
    background: linear-gradient(135deg, #c23956, #a52c45);
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    padding: 12px;
    border: none;
}

/* ======= CORPO DA TABELA ======= */
table td {
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    padding: 12px;

}



/* ======= SELECT STATUS ======= */
.form-select-sm {
    border-radius: 12px;
    border: 2px solid #c23956;
    padding: 5px 10px;
    transition: 0.3s;
}